<!-- <app-casa></app-casa>
<div class="container text-center">
<h2>Producto Nro:{{id}}</h2>
<h3>Codigo de barras:</h3>
<p>3</p>
<br>
<h3>Descripcion:</h3>
<p>aceites</p>
<br>
<br>

<h3>Precio de venta:</h3>
<p>10.00</p>
<h3>Precio de compra:</h3>
<p>10.00</p>
<h3>Existencia</h3>
<p>10.00</p>
</div>

 -->
 <app-casa></app-casa>
 <div class="container text-center">
 <h2>Producto Nro:{{id}}</h2>
 <h3>Codigo de barras:</h3>
 <p>{{codigo}}</p>
 <br>
 <h3>Descripcion:</h3>
 <p>{{desc}}</p>
 <br>
 <br>
 
 <h3>Precio de venta:</h3>
 <p>{{pc}}</p>
 <h3>Precio de compra:</h3>
 <p>{{pv}}</p>
 <h3>Existencia</h3>
 <p>{{exis}}</p>
